/* stylelint-disable selector-class-pattern */

@import './tokens.css';

@media (min-width: 1200px) {
  :root:has(meta[name="foundation"][content="c2"]) .milo-video {
    border-radius: var(--s2a-border-radius-24, 24px);
    overflow: hidden;
    max-width: var(--s2a-layout-rich-media-content-measure-wide, 1192px);
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    height: auto;
    padding-bottom: 0;
  }
}
