/* Display the marquee picture inline with the text */
.marquee p.body-m:has(> picture) {
  display: flex;
  gap: 12px;
}

/* Hide the section metadata if it's the only child of the section */
.section:has(> .section-metadata:only-child) {
  display: none;
}

a.con-button.rsvp-btn {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

a.con-button.rsvp-btn.disabled {
  opacity: 0.5;
  pointer-events: none;
}

a.con-button.no-event {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}
