html:not(.lenis-scrolling) .base-card:has(a):hover .media picture:not(.icon) img {
  transform: scale(1.03);
}

.base-card .foreground :is(h1, h2, h3, h4, h5, h6) {
  color: var(--s2a-color-content-heading);
}

.base-card .foreground .standalone-link {
  color: var(--s2a-color-content-default);
}

.base-card p {
  color: var(--s2a-color-content-subtle);
}
